name: Build and Push Docker Image ver. 9

on:
  workflow_dispatch:

env:
  FILEBEAT_VERSION: 9.2.0
  FILEBEAT_SHA512: bd77978bc18d49057cd2bbfde9e4830a99ca328b4229583429ba0acf3720913ee6f540954cde831d9811942be82fdcc08344a5158bf3f93a717229da27a2412d
  IMAGE_TAG: 9.2.0-ltsc2019

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Dockerfile --build-arg FILEBEAT_VERSION=${{ env.FILEBEAT_VERSION }} --build-arg FILEBEAT_SHA512=${{ env.FILEBEAT_SHA512 }} -t ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }}

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.IMAGE_TAG }}
          release_name: Release ${{ env.IMAGE_TAG }}
          draft: false
          prerelease: false
          body: |
            Docker image for Filebeat version ${{ env.FILEBEAT_VERSION }}.
            Use: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }}