name: Build and Push Docker Image ver. 8

on:
  workflow_dispatch:

env:
  FILEBEAT_VERSION: 8.19.6
  FILEBEAT_SHA512: 6bdc20d6f0037b576d52e8d8e921452c7ead0783c6cae176790dde97d98faf5c2b60defe8738f8b44b74211ce61628fd48d60a62c79cf9d2613d980b2c48eec5
  IMAGE_TAG: 8.19.6-ltsc2019

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Dockerfile --build-arg FILEBEAT_VERSION=${{ env.FILEBEAT_VERSION }} --build-arg FILEBEAT_SHA512=${{ env.FILEBEAT_SHA512 }} -t ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }}

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.IMAGE_TAG }}
          release_name: Release ${{ env.IMAGE_TAG }}
          draft: false
          prerelease: false
          body: |
            Docker image for Filebeat version ${{ env.FILEBEAT_VERSION }}.
            Use: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/filebeat-windows:${{ env.IMAGE_TAG }}